body{
    background-color: #F6F6F6;
}

a:hover {
    color: black;
    text-decoration: none;
}

.btn-follow{
    background-color: white;
    border: 2px solid #2F89FF;
    border-radius: 2rem;
    font-size: 14px;
    font-family: MetropolisBold;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-follow:before{
    content: "Follow";
}
.btn-unfollow{
    background-color: #2F89FF;
    border: 2px solid #2F89FF;
    border-radius: 2rem;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.btn-unfollow:before{
    content: "Following";
}
.btn-unfollow:hover{
    background-color: #FF6A71;
    border-color: #FF6A71;
}

.btn-unfollow:hover:before{
    content: "";
}

.btn-unfollow:hover:after{
    content: "Unfollow";
}

.btn-back{
    background-color: white;
    border: 2px solid #72DC5C;
    border-radius: 2rem;
    font-size: 12px;
    font-family: MetropolisBold;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
}

.btn-back:before{
    content: "Back";
}

.btn-unback{
    background-color: #72DC5C;
    border: 2px solid #72DC5C;
    border-radius: 2rem;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    margin-left: 20px;
}

.btn-unback:before{
    content: "Backed";
}
.btn-unback:hover{
    background-color: #FF6A71;
    border-color: #FF6A71;
}

.btn-unback:hover:before{
    content: "";
}

.btn-unback:hover:after{
    content: "Unback";
}

.image-icon{
    background: url("/static/image.png") no-repeat center center;
    width: 20px;
    height: 20px;
}

.pic
{
     width:100px;
     border: 2px solid white;
}
.rounded-pic{
    border-radius: 2rem;
}

.cover-pic-profile
{
    height: 25vmax;
    background-size: cover;
    z-index: -1;
}

.empty-cover-picture{
    background-image:url("/static/rainbow.jpg");
    height: 100px;
    z-index: -1;
    border-radius: 1rem 1rem 0 0;
}
.feed-main-container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.feed-profile-pic{
    margin-top:-55px;
}

.feed-profile-container{
    width:250px;
    min-width: 250px;
    margin-top: 30px;
    background-color: white;
    border-radius: 1rem;
    border: 2px solid white;
    text-align: center;
    height: 300px;
}

.feed-display-name{
    text-align: center;
    margin-top: 20px;
}

.feed-display-occupation{

    display: inline-block;
    font-size: 12px;
    color: #D0D0D0;
}

.cover-pic-small
{
    background-size: cover;
    height:100px;
    z-index: -1;
    border-radius: 1rem 1rem 0 0;
    
}

.feed-stats-container{
    margin: 10px 10px 40px 10px;
    text-align: center;

}

.feed-content-container{
    height: 400px;
    width: 700px;
    min-width: 700px;
    margin-left: 50px;
    margin-top: 30px;
}


.new-post-form {
    width: inherit;
    background-color: white;
    border: 1px solid white;
    border-radius: 1rem;
}

.new-post-form #title {
    margin-top:10px;
}

.new-post-form .form-group{
    margin-right: 10px;
    margin-left: 10px;
}

.post-picture {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 500px;
    max-width: 680px;
    margin-bottom: 10px;
}



.name
{
    position:absolute;
    padding-left:200px;
    font-size:30px;
}




.main-container{
	width: 1000px;
    margin: 0 auto;
    height: 500px;
    margin-top: -50px;
}




.profile-container{
    width:250px;
}



.profile-content-container{
    margin-top:-400px; 
    height: 400px;
    margin-left: 300px;
}

.profile-content-container h3{
    margin-top: 50px;
}
.display-name-container{
    float:right;
    width: 145px;
    height: 80px;
    white-space: nowrap
}

.display-name{
    position: relative;
    left: 10px;
    top: 55px;
    width: 145px;
    overflow: visible;
}

.display-occupation{
    position: relative;
    margin-left: 10px;
    top: 45px;
    font-size: 12px;
    color: #D0D0D0;
}

.bio-container{
    margin-top: 10px;

    text-align: center;
}
.display-bio{
    font-size: 12px;
    color: #D0D0D0;
}


.stats-container{
    margin-top: 10px;
    text-align: center;
}

.stat-number{
    font-size: 16px;
    font-weight: bold;

}

.stat-label{
    font-size: 12px;
    color: #D0D0D0;
}
.profile-extrainfo-container{
    margin-top: 10px;
}
.profile-extrainfo-container h3{
    font-size: 14px;
    font-weight: bold;
}

.extrainfo-container {
    margin-top: 10px;
}

.extrainfo-list-container {
    font-size: 12px;
}

.extrainfo-list-container div{
    border: 1px solid black;
    border-color: #D0D0D0;
    border-radius: 1rem;
    display: inline-block;
    margin-top: 5px;
    background-color: white;
}

.extrainfo-list-container span{
    margin: 20px;
}


/*POST*/
.post-container{
    width: 98%;
    background-color: white;
    margin-top: 20px;
    border-radius: 1rem;
}

.post-container-active{
    border: 1px solid white;
}

.post-container-inactive {
    border: 1px solid #FF6A71;
}

.post-header{
    height: 50px;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-header-profile-info{
    margin-left: 10px;
    display: flex; 
    align-items: center;
    height: inherit;
}

.post-header-display-name{
    margin-left: 10px;
    white-space: nowrap;

}

.post-header-button {
    margin-left: 20px;
}

.post-header-extra{
    display: flex;
    align-items: center;
    font-color: #D0D0D0;
    height: 50px;
}

.post-header-time{
    margin-right: 30px;
}

.post-header-time span {
    color: #D0D0D0;
    font-size: 14px;
    margin-right: 10px;
}

.post-header-dots{
    display: flex; 
    align-items: center;
}

.post-header-dots:after{
  content: '\2807';
  font-size: 1.5em;
  color: #D0D0D0;
}

.post-body {
    width: 80%;
    margin: 20px auto;
}

.post-body-image{
    margin: 10px auto;
    width: 100%;
}
.post-body-image img{
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

.post-body-tags div {
    display: inline-block;
}

.post-body-tags span{
    border: 1px solid #7454F5;
    border-radius: 1.5rem;
    padding: 2px 8px;
    white-space: nowrap;
    font-size: 12px;
    font-family: MetropolisBold;
    color: white;
    background-color: #7454F5;
    margin: 5px;
}

.post-footer{
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.post-footer-likes, .post-footer-comments{
    font-size: 12px;
    font-family: MetropolisBold;
    margin-right: 30px;
}

.post-footer-buttons {
    justify-content: space-between;
    display: flex;
}

.post-share-link{
    font-size: 12px;
    font-family: MetropolisBold;
}

.post-footer-backs{
    margin-left: 150px;
}

.comment-box{
    width: 90%;
    margin:auto;
    align-content: center;
    font-size: 12px;
}

.new-comment-box {
    font-size: 12px;
    padding-top: 5px;
    border-top: 1px solid #72DC5C;
    
}

.comment {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 5px;
    }
.comment-header{
    display: flex;
    align-items: center; 
    border-top: 1px solid #F6F6F6;
    justify-content: space-between;
    
}

.comment-profile-info{
    display: flex;
    align-items: center; 
    height: 50px;
}
.comment-display-name{
    margin-left: 10px;
    white-space: nowrap;
}

.comment-header-time{
    margin-right: 30px;
}

.comment-header-time span {
    color: #D0D0D0;
    font-size: 11px;
    margin-left: 5px;
}

.selectize-dropdown, .selectize-input { 
  line-height: 12px; 
}

.edit-profile-container input, textarea, .selectize-input {
    border-top:0;
    border-right:0;
    border-left:0;
}

.noresize {
    resize: none;
}

.selectize-control.plugin-remove_button [data-value] .remove {
    border-left: 0px !important;
    color: #D0D0D0 !important;
    padding: 5px 10px 5px 0px;
}
.selectize-control.multi .selectize-input > div {
    border-radius: 2rem;
    background-color: white;
    border: 1px solid #D0D0D0;
    padding: 5px 0px 5px 10px;
}
