/* IMPORT FONTS */
@import url("/css/fonts.css");

/* SITE CONFIG */
body {
	font-family: MetropolisRegular;
 	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */ 
}

 a, abbr, address, b, bdi, bdo, blockquote, br, button, caption, center, 
 cite, code, col, dd, del, dfn, dt, em, figcaption, footer, h1, h2, h3, h4, 
 h5, h6, i,  input, ins, kbd, label, legend, mark, output, p, pre, q, rp, rt, 
 ruby, s,  samp, small, span, strike, strong, sub, summary, sup, td, textarea, 
 th, time,  title, tt, u, var {
    -webkit-user-select: text; /* webkit (safari, chrome) browsers */
    -moz-user-select: text; /* mozilla browsers */
    -khtml-user-select: text; /* webkit (konqueror) browsers */
    -ms-user-select: text; /* IE10+ */
    color: #3C3C3D;
 }



::placeholder{
	text-align: right;
	font-size: 12px;
}

.btn {
	border-radius: 100px;
	font-family: MetropolisBold;
	font-size: 14px;
	box-shadow: none;
}

.btn-primary {
	border: 0px;
}

.btn-secondary {
	border: 1px solid;
}

h1 {
	font-family: MetropolisBold;
	font-size: 40px;
}
h2 {
	font-family: MetropolisExtraBold;
	font-size: 20px;
}

input.dirty:valid {
 border-bottom: 1px solid green;
}

input.dirty:invalid {
 border-bottom: 1px solid red;
}

.u-icon {
    background: url("/static/u2.ico");
	height: 16px;
	width: 16px;
	display: inline-block;
}
