.inset {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent !important;
  z-index: 999;
  padding-top: 5px;
  margin-bottom: auto;
}

.inset img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 998;
}

.home-icon{
    background: url("/static/home2.png") no-repeat center center;
    width: 48px;
    height: 48px;
}

.search-icon{
    background: url("/static/search2.png") no-repeat center center;
    width: 48px;
    height: 48px;
}

.search-icon2{
    background: url("/static/search2.png") no-repeat center center;
    width: 20px;
    height: 20px;
}
.bell-icon{
    background: url("/static/bell2.png") no-repeat center center;
    width: 48px;
    height: 48px;
}

@media (max-width: 1000px) {
body
    {
        min-width:1000px;
    }
}

.border-round{
  border-radius: 2rem;
}

.nav-search-container input {
  outline: none;
box-shadow:none !important;
border:1px solid #ccc !important;
}

.display-name-nav{
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
}